<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Descripción de la Web">
  <meta name="robots" content="index, noindex, follow, nofollow">
  <meta name="author" content="Guillermo Fuentes Buenosvinos">
  <title>No encontrado</title>
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/ico">
</head>
<body>
  <img src="../../assets/930-9306658_404-not-found.jpeg" class="img-fluid" alt="Contenido no encontrado">
</body>
</html>