<h1>Formulario Login</h1>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
  </div>
  <!-- Mostrar mensaje de bienvenida -->
  <div *ngIf="usuarioLogueado" class="alert alert-success mt-3" role="alert">
    ¡Bienvenido {{ usuarioLogueado }}!
  </div>
  <div *ngIf="loginError" class="alert alert-danger" role="alert">
    Error de inicio de sesión. Por favor, verifica tus credenciales.
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <p>Para recuperar su cuenta mande un correo electronico a <a href="mailto:buenosvinosfuentesguillermo@gmail.com">esta
      direccion</a>
    para recuperar la cuenta tendra que mandar un correo electronico a la direccion facilitada
    facilitando el correo electronico con el que te registraste. En caso de existir la cuenta se mandara
    un correo electronico con el enlace de recuperacion. En caso de no existir la cuenta no se podra restablecer la
    contraseña ni se facilitara datos para acceder a otras cuentas por razones de seguridad</p>
</form>