<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Descripción de la Web">
  <meta name="robots" content="index, noindex, follow, nofollow">
  <meta name="author" content="Guillermo Fuentes Buenosvinos">
  <title>Pagina de inicio</title>
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/ico">
</head>
<body>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>

  </svg>

  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
      <use xlink:href="#info-fill" />
    </svg>
    <div>
      <h1>Guia de Uso de sitio web</h1>
      <hr>
      <section>
        <article>
          <h2>Acceso a la pagina</h2>
          <hr>
          <p>1ºPara poder acceder a la seccion de tareas lo primero que tienes que hacer es registrarte, haciendo click
            en
            <strong>Registro</strong>.
          </p>
          <p>2ºUna vez en la pagina de registro inserta un <strong>email</strong> y una <strong>contraseña.</strong></p>
          <p>3ºRealizado el paso anterior te manda a la pagina de <strong>login</strong> y en esta pagina introduces los
            datos que has puesto
            en el registro</p>
        </article>
      </section>
      <section>
        <article>
          <h2>Uso del gestor de tareas</h2>
          <hr>
          <p>Una vez dentro el uso es sencillo en <strong>Descripcion</strong> introduces la descripcion de la tarea por
            ejemplo <i>hacer la colada</i></p>
          <p>Despues de haber introducido la descripcion introducimos su <strong>categoria</strong> por ejemplo
            <i>labar</i>
          </p>
          <p>Despues se marca o no si se ha realizado dicha tarea</p>
          <p>Por ultimo le puedes poner la fecha si no se la pones coje la fecha actual de ese dia</p>
        </article>
      </section>
      <section>
        <article>
          <h2>Buscador de tareas</h2>
          <hr>
          <p>Esto es lo mas sencillo de entender introduces la categoria de la tarea y te saldran todas las tareas
            referenctes a dicha categoria
          </p>
        </article>
      </section>
    </div>
  </div>


</body>
</html>